p, li {
  /*font-size: 20px;*/
  color: purple;
}

p {
  background-color: lightgrey;
  width: 300px;
  border: 2px solid purple;
  padding: 50px;
  margin: 20px;
}

body {
  background-color: yellow;
}

h1, h2 {
  color: brown;
}
